{{>CSS name="Item"}}

<article class="Item">

    <h1 id="{{(id name)}}">
        {{>ItemName}}
    </h1>

    <p>{{description}}</p>

    <div>
        {{#if sources}}

        <p><i>Sources:</i></p>
        <ul>
            {{#each sources}}
            <li>
                <a href="{{this}}">{{this}}</a>
            </li>
            {{/each}}
        </ul>

        {{else}}
        <p><b>No sources!</b></p>
        {{/if}}
    </div>

    {{#if review}}
    <p>
        <i>Critic's Review:</i>
        <span>
            {{review}}
        </span>
    </p>
    {{/if}}

</article>