<article class="Item" id="{{id name}}">

    <hr />

    <h1>
        <a href="#{{id name}}">
            {{name}} - <i>{{verdict}}</i>
        </a>
    </h1>

    <p>{{description}}</p>

    <div>
        {{#if sources}}

        <p><i>Sources:</i></p>
        <ul>
            {{#each sources}}
            <li>
                <a href="{{this}}">{{this}}</a>
            </li>
            {{/each}}
        </ul>

        {{else}}
        <p><b>No sources!</b></p>
        {{/if}}
    </div>

    {{#if review}}
    <p>
        <i>Critic's Review:</i>
        <span>
            {{review}}
        </span>
    </p>
    {{/if}}

</article>