<article class="Item" id="{{id name}}">

    <hr />

    <h1 class="name">
        <a href="#{{id name}}">
            {{name}} - <i>{{verdict}}</i>
        </a>
    </h1>

    {{#if subtitle}}
    <h4 class="subtitle">
        {{subtitle}}
    </h4>
    {{/if}}

    <p class="description">{{description}}</p>

    <div class="sources">
        {{#if sources}}

        <p><i>Sources:</i></p>
        <ul>
            {{#each sources}}
            <li>
                {{>ShortLink link=this}}
            </li>
            {{/each}}
        </ul>

        {{else}}
        <p><b>No sources!</b></p>
        {{/if}}
    </div>

    {{#if review}}
    <p class="review">
        <i>Critic's Review:</i>
        <span>
            {{review}}
        </span>
    </p>
    {{/if}}

    <div class="related">
        <details>
            <summary>
                Related
            </summary>

            <ul>
                {{#each ../entries}}
                {{#if (not-equal name ../name)}}
                {{#if (arrays-intersect tags ../tags) }}
                <li>
                    <a href="#{{id name}}">
                        {{name}}
                    </a>
                </li>
                {{/if}}
                {{/if}}
                {{/each}}
            </ul>
        </details>
    </div>

</article>