{{#>boilerplate}}

<main>

    <h1>Dog Food</h1>

    <div>
        {{#each entries}}
        <hr />
        <article>

            <h1>{{name}} - {{verdict}}</h1>

            <p>{{description}}</p>

            {{#if sources}}
            <ul>
                {{#each sources}}
                <li> {{this}} </li>
                {{/each}}
            </ul>
            {{/if}}

            {{#if review}}
            <blockquote>
                {{review}}
            </blockquote>
            {{/if}}

        </article>
        {{/each}}
    </div>

</main>

{{/boilerplate}}